html{
    background-color: #CBCBCB;
      font-family: "Oswald", sans-serif;
}
h1{
    color: blueviolet;
}
h2{
    color: blueviolet;
}
p{
    font-size: 16px;
}
.paragraph{
    color: darkgreen;
}
#heading{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}